html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Welcome page */

#welcome {
  background: url("https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.welcome-row {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px #8892bf;
}

.welcome-title {
  color: #3a3e52;
  font-size: 5rem;
}

.welcome-text {
  color: #737ba0;
}

.btn {
  font-size: 1rem;
  background-color: #737ba0;
  border: #737ba0;
}

.btn:hover {
  font-size: 1rem;
  background-color: #3a3e52;
  border: #3a3e52;
  transform: scale(1.1);
  transition: 0.3s ease;
}

/* Info about PHP page*/

.question {
  margin-bottom: 30px;
}

.question-title {
  background-color: #737ba0;
  padding: 10px 15px;
  margin-bottom: 0;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.question-answer {
  border: 2px solid #737ba0;
  font-size: 18px;
  padding: 20px 30px;
}

/* PHP code page */

#code {
  background-color: #737ba0;
}

#code p{
    font-size: 20px;
    color: white;
    padding-left: 55px;
    padding-right: 55px;
}
