/* Color Palette:
    #355070 - Y In Mn Blue
    #6d597a - Chinese Violet
    #b56576 - Rose Dust
    #e56b6f - Candy Pink
    #eaac8b - Tumbleweed
*/

body {
  background-color: #355070;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation-link {
  padding-bottom: 1rem;
  border: 3px solid transparent;
  color: white;
}
.navigation-link:hover {
  text-decoration: none;
  border-bottom: 3px solid #e56b6f;
  color: #e56b6f;
  transition: 0.3s ease;
}

.full-screen-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-name {
  font-size: 4rem;
  color: #e56b6f;
  padding-top: 1rem;
}

.my-img {
  border-radius: 20px;
}

.about-row {
  background-color: white;
  border-radius: 20px;
  padding: 60px 50px;
  color: #6d597a;
}
.projects-container {
  height: 100vh;
}
