/* Color Palette:
    
*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-img {
  width: 85%;
  height: auto;
  border-radius: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards by default */

.card{
  margin-bottom: 30px;
  border-radius: 20px;
}

.card img {
  padding: 10px 10px 0 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-title {
  font-weight: bold;
}

.card .btn:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

/* Navigation */

#navigation {
  background-color: #596e88;
  font-size: large;
}

.navigation-link {
  padding-bottom: 10px;
  border: 3px solid transparent;
  color: white;
}

.navigation-link:hover {
  text-decoration: none;
  border-bottom: 3px solid #e6a694;
  color: #e6a694;
  transition: 0.3s ease;
}

/* Welcome page */

.welcome-text {
  color: #2f4858;
}

.my-name {
  font-size: 4rem;
  color: #e6a694;
}

/* About page */

#about {
  background-color: #596e88;
  color: #fff;
}

#about p {
  font-size: 20px;
}

#about h1 {
  color: #e6a694;
}

#about .btn {
  background-color: #e6a694;
  border: 2px solid #e6a694;
  color: #2f4858;
}

#about .btn:hover {
  background-color: #2f4858;
  border: 2px solid #2f4858;
  color: #e6a694;
  transform: scale(1.1);
  transition: 0.3s ease;
}

/* Projects page */

#projects .card {
  background-color: #2f4858;
  box-shadow: 0 10px 5px #596e88;
  color: #fff;
}

#projects .card .btn {
  background-color: #596e88;
  border: 2px solid #596e88;
  color: #fff;
}

#projects .card .btn:hover {
  background-color: #e6a694;
  border: 2px solid #e6a694;
  color: #2f4858;
}

#projects .card-title {
  color: #e6a694;
}

/* Assignments page */

#assignments{
  background-color: #e6a694;
  color:#2f4858;
}

#assignments .card {
  background-color: #fff;
  box-shadow: 0 10px 5px #91685d;
  color: #2f4858;
}

#assignments .card .btn {
  background-color: #596e88;
  border: 2px solid #596e88;
  color: #fff;
}

#assignments .card .btn:hover {
  background-color: #2f4858;
  border: 2px solid #2f4858;
  color: #e6a694;
}

#assignments .card-title {
  color: #e6a694;
}

/* Contact page */

#contact {
  background-color: #596e88;
  height: 50vh;
}

#contact .btn {
  background-color: #e6a694;
  border: 2px solid #e6a694;
  color: #2f4858;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 5px 5px 10px #2f4858;
}

#contact .btn:hover {
  background-color: #2f4858;
  border: 2px solid #2f4858;
  color: #e6a694;
  transform: scale(1.1);
  transition: 0.3s ease;
}

#contact a {
  text-decoration: none;
}

.social-media-title {
  padding-left: 10px;
  margin: 0;
}

/* Footer */

#footer {
  background-color: #596e88;
}

#footer a {
  color: #e6a694;
}
